<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <h1>Cadastro de proprietários</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <a href="/index_proprietarios" class="btn btn-info">Voltar</a>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
      <div id="result"></div>
      <form
        name="form_proprietarios"
        id="form_proprietarios"
        action="{% if db_p %}/update_proprietarios/{{db_p.id}}/{% else %}/create_proprietarios/{% endif %}"
        method="post"
      >
        {% csrf_token %}
        <div class="form-group mt-4">Nome: {{form_proprietarios.nome}}</div>
        <div class="form-group mt-4">Email: {{form_proprietarios.email}}</div>
        <div class="form-group mt-4">
          Telefone: {{form_proprietarios.telefone}}
        </div>
        <div class="form-group mt-4">CPF: {{form_proprietarios.cpf}}</div>
        <input type="submit" class="btn btn-success mt-4" value="Salvar" />
      </form>
    </div>

    {% load static %}
    <script src="{% static 'javascript_proprietarios.js' %}"></script>
  </body>
</html>
