<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <h1>Dados importados</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <a href="/home" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <strong>Endereço: </strong><br />
      <strong>Número: </strong><br />
      <strong>Complemento: </strong><br />
      <strong>Bairro: </strong><br />
      <strong>Cidade: </strong><br />
      <strong>Estado: </strong><br />
      <strong>Preço do aluguel: </strong><br />
      <strong>Preço de venda: </strong><br />
      <strong>CPF do proprietário: </strong><br />
    </div>
  </body>
</html>
