<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <div class="col-8 m-auto pt-2 text-center">
        <h1>Sobre</h1>
      </div>

      <div class="col-8 m-auto pt-3 pb-2 text-center">
        <strong>Criador: </strong>Matheus Gobetti Silva<br />
        <strong>RA: </strong>2840482011045<br />
        <strong>Disciplina: </strong>Tópicos Especiais em Informática<br />
        <strong>Professor: </strong>Fabrício Gustavo Henrique<br />
        <strong>Período: </strong>6º Semestre - Manhã<br />
        <strong>Tema: </strong>Cadastro de dados para corretores<br />
        <strong>Objetivo: </strong>Auxiliar corretores a controlar imóveis e
        proprietários<br />
        <strong>Fatec Ribeirão Preto</strong>
      </div>
      <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/home" class="btn btn-secondary">Voltar</a>
      </div>
    </div>
  </body>
</html>
